

    {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}  
     {{ form_widget(form) }}

    
    <div class="flex items-center gap-4">
    <button class="bg-gradient-to-r from-emerald-600 to-emerald-700 hover:bg-gray-400 text-white font-bold py-2 px-3 rounded">
    {{ button_label|default('Save') }}</button>

    <a href="{{ path('app_user_index') }}" class="bg-gradient-to-r from-slate-600 to-slate-500 hover:bg-slate-900 text-white font-bold py-2 px-3 rounded">Back</a>
    </div>
    {{ form_end(form) }}
